@import 'tailwindcss';

#app {
  text-align: center;
}
button {
  cursor: pointer;
}
input {
  outline: none;
}
input:focus {
  outline: none;
}
select {
  outline: none;
}
select:focus {
  outline: none;
}
